<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 
    <link rel="stylesheet" type="text/syle" href="{{ url_for('static', filename='style.css')}}">
    -->
    <style>
        body {
            background: rgb(170, 170, 170);
            background: linear-gradient(180deg, rgb(170, 170, 170) 0%, rgba(236, 236, 236, 1) 35%, rgba(255, 255, 255, 1) 100%);
            font-family: Arial, Helvetica, sans-serif;
            background-size: cover;
            background-repeat: no-repeat;
        }

        h2 {
            max-width: 100px;
            margin-top: 1px;
            margin-left: 700px;
            margin-bottom: 1px;
            margin-right: 1px;
            padding-bottom: 2px;
            padding-top: 10px;
            text-align: center;
            font-size: 40px;
        }

        h1 {
            font-size: 90px;
            max-width: 100px;
            margin-top: 1px;
            margin-left: 530px;
            margin-bottom: 1;
            margin-right: 1px;
            padding-bottom: 2px;
            padding-top: 20px;
            text-align: center;
            left: 700px;
        }

        h3 {
            font-size: 55px;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        button {
            background-color: rgb(129, 129, 129);
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 25px;
            border-radius: 15px;
            margin-top: 30px;
            border-style: dotted;
            border-color: #222;

        }

        #btnOFF {
            margin-top: 90px;
        }

        #btnSet {
            margin-top: 20px;
            color: black;
            width: 200px;
            height: 420px;
            background-color: rgb(27, 43, 27);
            font-size: 45px;

        }

        .hline {
            margin-top: 0px;
            width: 100%;
            height: 1px;
            background: rgb(0, 0, 0);
            z-index: 2;
        }

        .trafficlight {
            background: #222;
            background-image: linear-gradient(transparent 2%, #111 2%, transparent 3%, #111 30%);
            width: 100.5px;
            height: 320px;
            border-radius: 20px;
            border: solid 5px #333;
            max-width: 500px;
            margin-top: 2px;
            margin-left: 2px;
            margin-right: 2px;
            margin-bottom: 2px;
            position: relative;
            right: -695px;
            top: 10px;
            z-index: 0;
        }

        .box-set {
            background: #969696;
            border-radius: 30px;
            width: 300px;
            height: 600px;
            margin-top: 1px;
            margin-left: 1px;
            margin-right: 1px;
            margin-bottom: 1px;
            position: absolute;

            top: 60px;
            z-index: 1;
        }

        #control {
            right: 70px;
        }

        #menubox {
            left: 70px;
        }

        h5 {
            margin-top: 77px;
        }

        h4 {
            margin-top: 100px;
            margin-bottom: 5px;
            font-size: 40px;
        }

        #btnEmergency {
            font-size: 20px;
            margin-top: 40px;
            border-radius: 50%;
            background-color: firebrick;
        }

        #btnStart {
            background-color: rgb(37, 114, 54);

        }

        #time {
            margin-top: 5px;
            font-size: 30px;
            margin-bottom: 30px;
        }

        button:hover {
            transform: scale(1.05);
            transition: ease-in .1s;
            transition: ease-out .1s;

        }
    </style>
</head>

<body onload="changeColor();">
    <h1>Trafficlight</h1>
    <h2 id="state"></h2>
    <div class="trafficlight">

        <svg id="svg1" style="width: 1in; height: 1in">
            <circle id="red" r="40" cx="50" cy="50" style="fill: red; stroke: rgb(59, 42, 42); stroke-width: 2" />
        </svg>

        <svg id="svg2" style="width: 1in; height: 1in">
            <circle id="yellow" r="40" cx="50" cy="50" style="fill: transparent; stroke: black; stroke-width: 2" />
        </svg>

        <svg id="svg3" style="width: 1in; height: 1in">
            <circle id="green" r="40" cx="50" cy="50" style="fill: transparent; stroke: black; stroke-width: 2" />
        </svg>
    </div>

    <div class="box-set" id="menubox">
        <table id="Menu" style="width:100%">
            <tr>
                <th>
                    <h3>MENU</h3>
                    <div class="h_line">--------------------------------------</div>
                </th>
            </tr>
            <tr>
                <th><button type="button" id="btnSet" onclick="walker();">Press to Walk</th>
            </tr>
        </table>
    </div>

    <div class="box-set" id="control">
        <table id="start" style="width:100%">
            <tr>
                <th>
                    <h4>TIME</h4>
                    <div class="h_line">--------------------------------------</div>
                </th>
            </tr>
            <tr>
                <th>
                    <h6 id="time">Settings</h6>
                </th>
            </tr>
            <tr>
                <th><button type="button" id="btnStart" onclick="changeColor()">Start</th>
            </tr>
            <tr>
                <th><button type="button" id="btnEmergency" onclick="emergency();">EMERGENCY<br />STOP</th>
            </tr>
            <tr>
                <th>
                    <h5 id="sn">SN: TFLT025891-9AV02</h5>
                </th>
            </tr>
        </table>
    </div>
    <!--
    <div class="box-set" id="tflt">
        <table id="tbltflt" style="width:100%">
            <tr>
                <th>
                    <h4>TIME</h4>
                </th>
            </tr>
            <tr>
                <th>
                    <h6>Settings</th>
            </tr>
            <tr>
                <th>Start</th>
            </tr>
        </table>
    </div>
-->
    <!-- 
    <script type="text/javascript" scr="{{ url_for('static', filename='script.js')}}">
    -->
    <script>
        var ntervalID;
        var ntervalstp;
        var state;

        function changeColor() {
            ntervalID = setInterval(serialP, 100);
            clearInterval(ntervalstp);
            document.getElementById("btnEmergency").style.border = ""
            document.getElementById("btnEmergency").style.borderColor = ""
        }

        function serialP() {
            var now = new Date();

            var xhr = new XMLHttpRequest();
            document.getElementById("time").innerText = now.getUTCFullYear() + "/" + (now.getUTCMonth() + 1) + "/" + (now.getUTCDate()-1)+ " \n " + (now.getUTCHours() +7) + ":" + now.getUTCMinutes() + ":" + now.getUTCSeconds()
            document.getElementById("time").style.color = "black";
            document.getElementById("time").style.visibility = 'visible';
            xhr.open('GET', 'http://localhost:8080/get_ser');

            xhr.onload = function () {
                console.log(xhr.status);
                if (xhr.status >= 200 && this.status < 400) {
                    state = JSON.parse(this.response).content;
                } else {
                    // We reached our target server, but it returned an error
                }
            };
            xhr.onerror = function () {
            }
            xhr.send();

            if (state == 3) {
                document.getElementById("red").style.fill = "red"
                document.getElementById("red").style.opacity = "1"
                document.getElementById('state').innerText = 'Walk';

                document.getElementById("yellow").style.fill = "DarkOrange"
                document.getElementById("yellow").style.opacity = "0.3"

                document.getElementById("green").style.fill = "DarkOliveGreen"
                document.getElementById("green").style.opacity = "0.3"
                document.getElementById('btnSet').innerText = "Walk!"
                document.getElementById('btnSet').style.backgroundColor = "LimeGreen";

            } else if (state == 2) {
                document.getElementById("red").style.fill = "Marroon"
                document.getElementById("red").style.opacity = "0.2"

                document.getElementById("yellow").style.fill = "yellow"
                document.getElementById("yellow").style.opacity = "1"
                document.getElementById('state').innerText = 'Wait';


                document.getElementById("green").style.fill = "DarkOliveGreen"
                document.getElementById("green").style.opacity = "0.3"

            } else if (state == 1) {
                document.getElementById("red").style.fill = "Marroon"
                document.getElementById("red").style.opacity = "0.2"

                document.getElementById("yellow").style.fill = "DarkOrange"
                document.getElementById("yellow").style.opacity = "0.3"

                document.getElementById("green").style.fill = "LimeGreen"
                document.getElementById("green").style.opacity = "1"
                document.getElementById('state').innerText = 'Stop!';
                document.getElementById('btnSet').innerText = "Press to walk!"
                document.getElementById('btnSet').style.backgroundColor = "rgb(27, 43, 27)";

            } else if (state == 0) {
                document.getElementById("red").style.fill = "Marroon"
                document.getElementById("red").style.opacity = "0.2"
                document.getElementById("yellow").style.fill = "DarkOrange"
                document.getElementById("yellow").style.opacity = "0.3"
                document.getElementById("green").style.fill = "DarkOliveGreen"
                document.getElementById("green").style.opacity = "0.5"

            } else {
                document.getElementById("red").style.fill = "red"
                document.getElementById("red").style.opacity = "1"
                document.getElementById("yellow").style.fill = "DarkOrange"
                document.getElementById("yellow").style.opacity = "1"
                document.getElementById("green").style.fill = "LimeGreen"
                document.getElementById("green").style.opacity = "1"
                document.getElementById('state').innerText = 'CALL 911!';
            }
        }

        function emergency() {
            var now = new Date();
            clearInterval(ntervalID);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://localhost:8080/set_ser', true);
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onload = function () {
                console.log(xhr.status);
                if (xhr.status >= 200 && this.status < 400) {
                    console.log('EMERGENCY');
                }
            };
            xhr.onerror = function () {
            }
            var data = JSON.stringify({ "emergency": "1" });
            xhr.send(data);
            document.getElementById("time").innerText = now.getUTCFullYear() + "/" + (now.getUTCMonth() + 1) + "/" + (now.getUTCDate()-1)+ " \n " + (now.getUTCHours() +7) + ":" + now.getUTCMinutes() + ":" + now.getUTCSeconds()
            document.getElementById("time").style.color = "red";
            document.getElementById("red").style.fill = "red"
            document.getElementById("red").style.opacity = "1"
            document.getElementById("yellow").style.fill = "DarkOrange"
            document.getElementById("yellow").style.opacity = "1"
            document.getElementById("green").style.fill = "LimeGreen"
            document.getElementById("green").style.opacity = "1"
            document.getElementById("btnEmergency").style.border = "dotted 5px"
            document.getElementById("btnEmergency").style.borderColor = "yellow"
            document.getElementById("btnSet").style.backgroundColor = 'red'
            document.getElementById("btnSet").innerText = 'CALL 911!'
        }
        function walker(){            
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://localhost:8080/walk_ser');
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onload = function () {
                console.log(xhr.status);
            };
            xhr.onerror = function () {
            }
            console.log("Prepare to walk");
            var data = JSON.stringify({ "walker": "5" });
            xhr.send(data);
            document.getElementById('btnSet').style.backgroundColor = "LimeGreen";
        }

    </script>
</body>

</html>