<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/syle" href="{{ url_for('static', filename='style.css')}}">
</head>

<body onload="changeColor();">
    <script type="text/javascript" scr="{{ url_for('static', filename='script.js')}}"></script>

    <h1>Traffic Light</h1>
    <div id="ser">Diego</div>
    
    <div class="trafficlight" style="width:100.5px;height:320px;border:3px solid #000; background-color: #000;">
        <svg id="svg1" style="width: 3.5in; height: 1in">
            <circle id="circle1" r="40" cx="50" cy="50" style="fill: red; stroke: black;      stroke-width: 2"/>
            </svg>
            
            <svg id="svg2" style="width: 3.5in; height: 1in">
            <circle id="circle2" r="40" cx="50" cy="50" style="fill: transparent; stroke: black; stroke-width: 2"/>
            </svg>
            
            <svg id="svg3"style="width: 3.5in; height: 1in">
            <circle id="circle3" r="40" cx="50" cy="50" style="fill: transparent; stroke: black; stroke-width: 2"/>
            </svg>
    </div>
</body>

</html>